#foto{
    border-radius: 100%;
}

#apresentacao{
    margin-top: 5rem;
}

#apresentacao img{
    height: 5rem;
}

.sobre-mim{
    color: blue;
    margin-top: 5rem;
}

#text-meu{
  align-items: center;
  justify-items: auto;
  text-align: center;
}
#ocupacao-atual{
    margin-top: 15rem;
}

hr{
    border: .08rem solid ;
    
}

#cursos{
    margin-top: 5.5rem;
    color: blue;
}

#cursos a{
    text-decoration: none;
    height: .5rem;
    background-color: red;
    color:black 
}

#portfolio a{
    text-decoration: none;
    height: .5rem;
    background-color: red;
    color:black 
}